.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: var(--monospace-font);
    padding: 2em;
}

.message {
    font-size: 3em;
    color: var(--ctheme-blue);
}

.code {
    color: var(--ctheme-red);
}
