.cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 55px;
    .calculator {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 10px;
        background-color: var(--box-color);

        box-shadow: 0 5px 15px 0 var(--box-shadow-color);
        -webkit-box-shadow: 0 5px 15px 0 var(--box-shadow-color);
        -moz-box-shadow: 0 5px 15px 0 var(--box-shadow-color);

        @media (prefers-color-scheme: dark) {
        }

        .btn {
            border: none;
            background: transparent;
            color: inherit;
        }
    }
}
