.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    width: 100vw;
    height: 100vh;
}

.calculator {
    border-radius: 20px;
    color: #ffffff;
    background-color: #1e2133;
    overflow: hidden overlay;
    max-width: 320px;
    width: 100%;
}

.display {
    text-align: right;
    padding: 5px 20px;
    padding-bottom: 10px;
    font-size: 2rem;
    max-width: 100%;
    margin: 0;
    background-color: #1e2133;
    white-space: nowrap;
}

.calcDisplay {
    overflow: overlay hidden;
    white-space: nowrap;
}

.buttons {
    background-color: #2b3048;
    button {
        border: none;
        background-color: #2b3048;
        color: inherit;
        font-size: 1.5rem;
        transition: background-color 0.1s ease-in-out;
        padding: 10px 5px;
        outline: none;
        &:hover,
        &:focus-visible {
            background-color: #3e4a6b;
        }
        &:active {
            background-color: #343e5a;
        }
    }
    .clears {
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        button {
            flex-grow: 1;
            flex-basis: 50%;
        }
    }
    .operators {
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        .row {
            display: flex;
            flex-grow: 1;
            button {
                flex-grow: 1;
                flex-basis: calc(100% / 4);
                min-width: 60px;
            }
        }
    }
    .digits {
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        button {
            flex-basis: calc(100% / 3);
            flex-grow: 1;
        }
    }
}
