$primary: #292f33;
$secondary: #e1e8ed;

.cont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;

    .question {
        max-width: 500px;
        width: 90%;
        margin: 20px 50px;
        input {
            width: 100%;
        }
    }

    ._8b {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: 250px;
        height: 250px;
        border-radius: 100%;
        background-color: $primary;
        overflow: hidden;

        &.reveal {
            .text__8 {
                margin-left: -250%;
            }

            .text__answer {
                margin-right: unset;
            }
        }

        * {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $primary !important;
            background: $secondary !important;
            border-radius: 100%;
            width: 150px;
            height: 150px;
            font-weight: bold;
            text-align: center;
            transition: margin-right 2s ease-in-out, margin-left 2s ease-in-out;
        }

        .text__8 {
            font-size: 6rem;
            margin-left: 0;
        }

        .text__answer {
            font-size: 1rem;
            border: 10px solid transparent;
            margin-right: -250%;
        }

        &:active {
            cursor: default;
        }

        @media (max-width: 300px) {
            & {
                width: 200px;
                height: 200px;
            }
            * {
                width: 120px;
                height: 120px;
            }
            .text__8 {
                font-size: 4rem;
            }
            .text__answer {
                font-size: 1rem;
            }
        }
    }
}
