.wrapper {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    overflow-x: hidden;
}

.title__container {
    position: relative;
    font-size: 80px;
    line-height: .8em;
    text-align: center;
}

.title {
    position: relative;
    margin: 0;
    color: var(--primary);
    font-size: 80px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: currentColor;
    transform: translate(-10px, -10px);
    span {
        line-height: 0.8em;
        filter: drop-shadow(0 0 5px currentColor) brightness(1.5);
    }
    &::before {
        transform: translate(10px, 10px);
        content: '404 Not found';
        position: absolute;
        color: var(--secondary);
        filter: drop-shadow(0 0 5px currentColor) brightness(1.5);
        pointer-events: none;
        animation: neon-flicker 3s infinite;
    }
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

@keyframes neon-flicker {
    40% {
        opacity: 1;
    }
    42% {
        opacity: 0.8;
    }
    43% {
        opacity: 1;
    }
    45% {
        opacity: 0.3;
    }
    46% {
        opacity: 1;
    }
}
