.code-red {
    color: var(--ctheme-red);
}

.code-green {
    color: var(--ctheme-green);
}

.code-blue {
    color: var(--ctheme-blue);
}

.code-light-blue {
    color: var(--ctheme-light-blue);
}

.code-purple {
    color: var(--ctheme-purple);
}

.code-magenta {
    color: var(--ctheme-magenta);
}

.code-cyan {
    color: var(--ctheme-cyan);
}

.code-yellow {
    color: var(--ctheme-yellow);
}

/*========================================================================*/

.code-red-force {
    color: var(--ctheme-force-red);
}

.code-green-force {
    color: var(--ctheme-force-green);
}

.code-blue-force {
    color: var(--ctheme-force-blue);
}

.code-light-blue-force {
    color: var(--ctheme-force-light-blue);
}

.code-purple-force {
    color: var(--ctheme-force-purple);
}

.code-magenta-force {
    color: var(--ctheme-force-magenta);
}

.code-cyan-force {
    color: var(--ctheme-force-cyan);
}

.code-yellow-force {
    color: var(--ctheme-force-yellow);
}