.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: var(--monospace-font);
    text-align: center;
    padding: 2em;
}

.message {
    font-size: 3em;
    color: var(--ctheme-white);
}

.description {
    font-size: 1.5rem;
    color: var(--ctheme-magenta);
    code {
        background-color: #e3e6e8;
        color: var(--def-color);
        padding: 2px 4px;
        border-radius: 3px;
        @media (prefers-color-scheme: dark) {
            background-color: #474a56;
            color: #ffffff;
        }
    }
}

.code {
    color: var(--ctheme-red);
}
