@use 'CodeThemes.scss';

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: var(--bg);
    min-height: 100vh;
    overflow-y: overlay;
    color: var(--def-color);
}

code,
.code {
    font-family: var(--monospace-font);
}

.unsel,
br {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

::selection {
    background-color: #5691ff4b;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background: rgba(225, 225, 225, 0.8);
    border-radius: 100px;
    &:hover {
        background: rgba(200, 200, 200, 0.8);
    }
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

a {
    color: inherit;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
        color: inherit;
    }
}

.grab-cur {
    cursor: grab;
    &:active {
        cursor: grabbing;
    }
}

.unsel {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.def-box-shadow {
    box-shadow: 0 5px 15px 0 var(--box-shadow-color);
    -webkit-box-shadow: 0 5px 15px 0 var(--box-shadow-color);
    -moz-box-shadow: 0 5px 15px 0 var(--box-shadow-color);
}

.Toastify__toast {
    box-shadow: 0 1px 10px 0 var(--box-shadow-color),
        0 2px 15px 0 var(--box-shadow-color);
    @media (prefers-color-scheme: dark) {
        .Toastify__close-button {
            color: white;
        }
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

:root {
    --bg: #ffffff;
    --def-color: #000000;
    --box-color: #ffffff;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --bezier-bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    --monospace-font: var(--bs-font-monospace);
    --toastify-toast-background: var(--box-color);
    --toastify-color-light: var(--box-color);
    --toastify-color-dark: var(--box-color);
    --toastify-text-color-light: var(--def-color);
    --toastify-text-color-dark: var(--def-color);

    // Code Theme
    --ctheme-red: currentColor;
    --ctheme-green: currentColor;
    --ctheme-blue: currentColor;
    --ctheme-purple: currentColor;
    --ctheme-magenta: currentColor;
    --ctheme-cyan: currentColor;
    --ctheme-yellow: currentColor;
    --ctheme-force-white: #c0caf5;
    --ctheme-force-red: #f76a6b;
    --ctheme-force-green: #7ece62;
    --ctheme-force-blue: #7aa2f7;
    --ctheme-force-light-blue: #89ddff;
    --ctheme-force-purple: #999aeb;
    --ctheme-force-magenta: #da70d6;
    --ctheme-force-cyan: #28c3de;
    --ctheme-force-yellow: #ffd700;
}

@media (prefers-color-scheme: dark) {
    * {
        caret-color: white;
    }
    input[type='text'] {
        background: var(--bg) !important;
        color: var(--def-color) !important;
    }
    input[type='checkbox']:not(:checked) {
        background: var(--bg) !important;
    }
    :root {
        --bg: #1f2335;
        --def-color: white;
        --box-color: #2b3048;
        --box-shadow-color: #2b3048;
        --ctheme-white: #c0caf5;
        --ctheme-red: #f76a6b;
        --ctheme-green: #7ece62;
        --ctheme-blue: #7aa2f7;
        --ctheme-light-blue: #89ddff;
        --ctheme-purple: #999aeb;
        --ctheme-magenta: #da70d6;
        --ctheme-cyan: #28c3de;
        --ctheme-yellow: #ffd700;
    }
}
