$polkadotColor: 150;
$polkadotTransparency: 25%;
$polkadotDistance: 5vh; // may affect size
$polkadotSize: 5%;

html,
body {
    padding: 0;
    margin: 0;
    font-family: consolas, monospace, sans-serif;
    background: radial-gradient(
            rgba(
                    $polkadotColor,
                    $polkadotColor,
                    $polkadotColor,
                    $polkadotTransparency
                )
                $polkadotSize,
            transparent 5%
        ),
        var(--background-color);
    background-position: 0 0;
    background-size: $polkadotDistance $polkadotDistance;
    color: #fff;
    cursor: var(--cur-default);
}

a {
    color: currentColor;
    text-decoration: none;
    cursor: var(--cur-pointer);
}

button {
    cursor: var(--cur-pointer);
    font-family: inherit;
    font-size: 1em;
    padding: 10px 15px;
    margin: 0 5px;
    width: auto;
    border: none;
    outline: 0;
    display: inline-flex;
    align-items: center;
    transform: translateY(-2px);
    background: transparent;
    color: var(--primary);
    border: 2px solid var(--primary);
    filter: drop-shadow(0 0 5px currentColor);
    @extend [data-unsel];
    svg {
        margin-right: 0.5em;
    }
    &:focus {
        outline: 2px solid var(--secondary);
        outline-offset: 2px;
    }
    &:active {
        transform: none;
    }
}

[data-spinner-loader] {
    position: fixed;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px solid var(--primary);
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-width: 0px;
    animation: spin 0.5s linear infinite;
    z-index: 9999;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    filter: drop-shadow(0 0 5px var(--primary));
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
    &[data-loading='true'] {
        opacity: 1;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

[data-unsel] {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

::selection {
    background: var(--secondary);
}

:root {
    --primary: #00ffff;
    --primary-shadow: #00ffff99;
    --secondary: #ff00ff;
    --secondary-shadow: #ff00ff99;
    --background-color: #07131f;

    --cur-default: url('/cursors/default.png'), default;
    --cur-pointer: url('/cursors/pointer.png') 6 1, pointer;
}
