.neon {
    filter: drop-shadow(0 0 5px currentColor)
        drop-shadow(10px 10px 0 rgba(255, 0, 255, 1));
    &[data-flicker='true'] {
        animation: neon-flicker 3s infinite;
    }
}

@keyframes neon-flicker {
    40% {
        filter: drop-shadow(0 0 5px currentColor)
            drop-shadow(10px 10px 0 rgba(255, 0, 255, 1))
    }
    42% {
        filter: drop-shadow(0 0 5px currentColor)
            drop-shadow(10px 10px 0 rgba(255, 0, 255, 0.8));
    }
    43% {
        filter: drop-shadow(0 0 5px currentColor)
            drop-shadow(10px 10px 0 rgba(255, 0, 255, 1));
    }
    45% {
        filter: drop-shadow(0 0 5px currentColor)
            drop-shadow(10px 10px 0 rgba(255, 0, 255, 0.3));
    }
    46% {
        filter: drop-shadow(0 0 5px currentColor)
            drop-shadow(10px 10px 0 rgba(255, 0, 255, 1));
    }
}
